@font-face {
      font-family: 'poppins';
      font-weight: 400;
      font-style: normal;
      src: local('poppins-regular'),
            url('../fonts/poppins-regular.woff2') format('woff2');
      font-display: swap;
}

@font-face {
      font-family: 'poppins';
      font-weight: 500;
      font-style: normal;
      src: local('poppins-500'),
            url('../fonts/poppins-500.woff2') format('woff2');
      font-display: swap;
}

@font-face {
      font-family: 'poppins';
      font-weight: 600;
      font-style: normal;
      src: local('poppins-600'),
            url('../fonts/poppins-600.woff2') format('woff2');
      font-display: swap;
}

@font-face {
      font-family: 'poppins';
      font-weight: 700;
      font-style: normal;
      src: local('poppins-700'),
            url('../fonts/poppins-700.woff2') format('woff2');
      font-display: swap;
}

@font-face {
      font-family: 'poppins';
      font-weight: 900;
      font-style: normal;
      src: local('poppins-900'),
            url('../fonts/poppins-900.woff2') format('woff2');
      font-display: swap;
}

@font-face {
      font-family: 'rubik';
      font-weight: 400;
      font-style: normal;
      src: local('rubik-regular'),
            url('../fonts/rubik-regular.woff2') format('woff2');
      font-display: swap;
}